{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <p class="archive__item-citation" itemprop="description">
      {% if post.semester %}{{ post.semester }}, {% endif %}
      {% if post.course %}<strong>{{ post.course }}</strong>, {% endif %}
      {% if post.code %}<i>{{ post.code }}</i>, {% endif %}
      {% if post.location %}{{ post.location }}, {% endif %}
      {% if post.position %}{{ post.position }}. {% endif %}
      {% if post.link %}<a href="{{ post.link }}" target="_blank"><i class="fa fa-external-link"></i></a>{% endif %}
    </p>
  </article>
</div>
